body {
    margin: 0;
    height: 100vh;
}

.start-bg {
    background-image: url('./img/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.game-container {
    position: relative;
    width: 95%;
    height: 100%;
    max-width: 87.5rem;
    margin: auto;
    scrollbar-width: auto;
    scrollbar-color: black transparent;
}

.game-container>div {
    max-width: 100%;
    max-height: 100%;
}

canvas {
    max-width: 100%;
    max-height: 100%;
    width: 120rem;
    display: block;
}

.canvas-container {
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 1rem black;
    aspect-ratio: 16 / 9;
}

.canvas-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
}

.border-radius-1rem {
    border-radius: 1rem;
}

.canvas-overlay-img {
    object-fit: cover;
    pointer-events: none;

    &.won {
        object-fit: contain;
        background: rgba(255, 255, 255, 0.2);
    }
}

.btn {
    font-size: 1.5rem;
    border: .2rem solid black;
}

.restart-btns {
    position: absolute;
    bottom: 6rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;

    & button {
        width: 15rem;
        color: gainsboro;
        background-color: black;
    }
}

.menu {
    z-index: 2;
    overflow: auto;
    padding: 2rem 5rem;
    font-size: 1.5rem;
    text-align: center;

    & span,
    & p {
        background-color: rgb(254, 135, 5, 0.5);
        padding: 0 1rem;
        border-radius: 1rem;
    }

    & h1 {
        font-size: 4rem;
        margin: 0 auto 2rem;
    }

    & h2 {
        font-size: 3rem;
        margin: 0 auto 1rem;
    }

    & .controls-container {
        width: 100%;
    }

    & .key-explanation {
        width: clamp(0rem, 30rem, 100%);
    }

    & .key-svg {
        height: 3rem;

        & svg {
            height: 100%;
        }
    }

    & .attribution-item {
        margin: .5rem;
        display: block;
    }
}

.in-game-controls {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 5rem;

    & * {
        opacity: 0;
    }
}

.in-game-controls:hover,
.in-game-controls:focus-within {
    & * {
        opacity: 1;
    }
}

.game-ui-btn {
    position: absolute;
    z-index: 1;
    background: none;
    border: none;
    cursor: pointer;
    user-select: none;
    padding: 0;
    width: 3rem;
    height: 3rem;
    bottom: 1rem;

    & svg {
        width: 80%;
        height: 80%;
        display: block;
        margin: auto;
    }

    &.play-pause-button {
        left: 45.5%;
    }

    &.goto-start {
        left: 1.5%;
    }

    &.controls {
        left: 51%;
    }

    &.music {
        right: 8%;
    }

    &.full-screen {
        right: 1.5%;
    }
}

.statusbar {
    --bg-bar: #fcd859;
    --bg-bar-inner: #22a8e1;
    --border-radius: 0 99rem 99rem 0;
    --border-thickness: .125rem;
    --border: var(--border-thickness) solid white;
    position: absolute;
    z-index: 0;
    left: 2rem;
    pointer-events: none;

    &.character-energy {
        top: 2rem;
    }

    &.bottles {
        top: 6rem;
    }

    &.endboss-energy {
        top: 2rem;
        left: unset;
        right: 2rem;
        transform: scaleX(-1);

        & .icon {
            transform: scaleX(-1);
            top: -1rem;
            left: -1.75rem;
        }
    }

    &.coins {
        top: 10rem;
    }

    & .icon {
        position: absolute;
        z-index: 1;
        top: -1.6rem;
        left: -1.45rem;
        width: 5rem;
        height: 5rem;
    }

    & .outer {
        position: absolute;
        top: .8rem;
        left: 1.25rem;
        width: 15rem;
        height: 1.9rem;
        overflow: hidden;
        background: linear-gradient(to top, var(--bg-bar) 30%, rgba(255, 255, 255, .7) 100%);
        background-color: var(--bg-bar);
        border-radius: var(--border-radius);
        border: var(--border);
    }

    & .inner {
        background: linear-gradient(to top, var(--bg-bar-inner) 30%, rgba(255, 255, 255, .7) 100%);
        background-color: var(--bg-bar-inner);
        width: 100%;
        height: 100%;
        border-radius: var(--border-radius);

        &::before {
            content: '';
            position: absolute;
            inset: calc(var(--border-thickness) * -1);
            border: var(--border);
            border-radius: inherit;
        }
    }
}

@media (hover: hover) and (pointer: fine) {

    .btn:hover,
    .btn:focus {
        transform: scale(1.1);
    }

    .btn.restart:hover,
    .btn.restart:focus {
        transform: translateX(-50%) scale(1.1);
    }

    .game-ui-btn:hover {
        transform: scale(1.1);
    }
}

@media (hover: none) {
    .game-ui-btn.mobile {
        position: static;
        flex-shrink: 0;
        width: 3rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .in-game-controls * {
        opacity: 1;
    }

    .game-ui-btn.play-pause-button {
        left: 8%;
    }

    .game-ui-btn.controls {
        left: 14%;
    }

    .mobile-controls {
        display: flex;
        gap: 5%;
        width: 100%;
    }

    .game-ui-btn.mobile {
        position: static;
        flex-shrink: 0;
        overflow: hidden;

        &>img {
            flex-shrink: 0;
        }

        &.throw,
        &.buy {
            justify-content: center;
            align-items: center;
        }

        &.throw {
            height: 4.5rem;

            &>img {
                width: 155%;
                height: 110%;
            }
        }

        &.buy>img {
            width: 140%;
            height: 140%;
        }
    }
}

@media only screen and (hover: none) and (orientation: portrait) {
    .landscape-prompt {
        display: block;
        position: absolute;
        width: 50vw;
    }

    .landscape-prompt-headline {
        font-size: 4rem;
        margin: 1rem;
    }

    .landscape-prompt-text {
        display: inline-block;
        padding: 1.5rem 0;
        font-size: 2.5rem;
    }

    .canvas-container,
    .canvas-overlay,
    .canvas-overlay-img {
        display: none;
    }
}

@media (max-width: 80rem) {
    :root {
        font-size: 90%;
        font-size: 90%;
    }
}

@media (max-width: 70rem) {
    :root {
        font-size: 80%;
    }
}

@media (max-width: 60rem) {
    :root {
        font-size: 70%;
    }
}

@media (max-width: 50rem) {
    :root {
        font-size: 60%;
    }
}

@media (max-width: 40rem) {
    :root {
        font-size: 50%;
    }
}

@media (max-width: 30rem) {
    :root {
        font-size: 40%;
    }
}

@media (max-width: 20rem) {
    :root {
        font-size: 30%;
    }
}