.start-bg {
    background-image: url('./img/bg.jpg');
    background-position: center;
    background-size: cover;
}

.game-container {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    max-height: 100dvh;
    max-width: 87.5rem;
    margin: auto;
    scrollbar-width: auto;
    scrollbar-color: black transparent;
}

.border-radius-1rem {
    border-radius: 1rem;
}


.btn {
    font-size: 1.5rem;
    border: .2rem solid black;

    &:hover,
    &:focus {
        transform: scale(1.1);
    }

    &.restart {
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
        width: 15rem;
        color: gainsboro;
        background-color: black;
        z-index: 2;

        &:hover {
            transform: translateX(-50%) scale(1.1);
        }
    }
}

.navigation {
    z-index: 2;
    /* background-color: rgba(255, 255, 255, 0.1); */
    overflow: auto;
    padding: 5rem;
    font-size: 1.5rem;

    & h1 {
        font-size: 4rem;
        margin: 2rem auto;
    }

    & h2 {
        font-size: 3rem;
        margin: 1rem auto;
    }

    & .controls-container {
        width: 100%;
    }

    & .key-explanation {
        width: clamp(0rem, 30rem, 100%);
    }

    & .key-svg {
        height: 3rem;

        & svg {
            height: 100%;
        }
    }
}

.transition-opacity {
    transition: opacity 1s ease-in-out;
}

.opacity-0 {
    opacity: 0;
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
}

.canvas-container {
    overflow: hidden;
    box-shadow: 0 0 1rem black;
}

.canvas-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
}

.game-ui-btn {
    position: absolute;
    z-index: 1;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 3rem;
    height: 3rem;
    bottom: 1rem;

    & svg {
        width: 80%;
        height: 80%;
        display: block;
        margin: auto;
    }

    &.play-pause-button {
        left: 45.5%;
    }

    &.goto-start {
        left: 2rem;
    }

    &.legal-notice {
        left: 6rem;
    }

    &.controls {
        left: 51%;
    }

    &.full-screen {
        right: 1rem;
    }
}

.game-ui-btn:hover {
    transform: scale(1.1);
}

.statusbar {
    --bg-bar: #fcd859;
    --bg-bar-inner: #22a8e1;
    --border-radius: 0 99rem 99rem 0;
    --border-thickness: .125rem;
    --border: var(--border-thickness) solid white;
    position: absolute;
    z-index: 0;
    left: 2rem;
    pointer-events: none;

    &.character-energy {
        top: 2rem;
    }

    &.bottles {
        top: 6rem;
    }

    &.endboss-energy {
        top: 2rem;
        left: unset;
        right: 2rem;
        transform: scaleX(-1);

        & .icon {
            transform: scaleX(-1);
            top: -1rem;
            left: -1.75rem;
        }
    }

    &.coins {
        top: 10rem;
    }

    & .icon {
        position: absolute;
        z-index: 1;
        top: -1.6rem;
        left: -1.45rem;
        width: 5rem;
        height: 5rem;
    }

    & .outer {
        position: absolute;
        top: .8rem;
        left: 1.25rem;
        width: 15rem;
        height: 1.9rem;
        overflow: hidden;
        background: linear-gradient(to top, var(--bg-bar) 30%, rgba(255, 255, 255, .7) 100%);
        background-color: var(--bg-bar);
        border-radius: var(--border-radius);
        border: var(--border);
    }

    & .inner {
        background: linear-gradient(to top, var(--bg-bar-inner) 30%, rgba(255, 255, 255, .7) 100%);
        background-color: var(--bg-bar-inner);
        width: 100%;
        height: 100%;
        border-radius: var(--border-radius);

        &::before {
            content: '';
            position: absolute;
            inset: calc(var(--border-thickness) * -1);
            border: var(--border);
            border-radius: inherit;
        }
    }
}

.canvas-overlay-img {
    object-fit: cover;
    pointer-events: none;

    &.won {
        object-fit: contain;
        background: rgba(255, 255, 255, 0.2);
    }
}

@media (max-width: 80rem) {
    :root {
        font-size: 90%;
    }
}

@media (max-width: 70rem) {
    :root {
        font-size: 80%;
    }
}

@media (max-width: 60rem) {
    :root {
        font-size: 70%;
    }
}

@media (max-width: 50rem) {
    :root {
        font-size: 60%;
    }
}

@media (max-width: 40rem) {
    :root {
        font-size: 50%;
    }
}

@media (max-width: 30rem) {
    :root {
        font-size: 40%;
    }
}

@media (max-width: 20rem) {
    :root {
        font-size: 30%;
    }
}